## template: jinja
#cloud-config

# SET OUR VARIABLES
# =================

# EMAIL: required
# Your email address to share with LetsEncrypt for your SSL Certificate
{% set EMAIL = 'youremail@example.com' %}

# TOKEN: recommended
# Ubuntu Pro token from: https://ubuntu.com/pro/dashboard (not needed for Ubuntu Pro instances on Azure, AWS, or Google Cloud)
{% set TOKEN = '' %}

# HOSTNAME: subdomain of FQDN (e.g. `server` for `server.example.com`)
{% set HOSTNAME = 'landscape' %}

# DOMAIN (e.g. `example.com`)
{% set DOMAIN = 'example.com' %}

# CERTBOT: optional
# (snap|deb)
{% set CERTBOT = '' %} # leave blank to skip certbot installation

# TIMEZONE: as represented in /usr/share/zoneinfo. An empty string ('') will result in UTC time being used.
{% set TIMEZONE = 'America/New_York' %}

# SMTP credentials
# SendGrid example:
{% set SMTP_HOST = 'smtp.sendgrid.net' %}
{% set SMTP_PORT = '587' %}
{% set SMTP_USERNAME = 'apikey' %} # 'apikey' is the correct username for SendGrid
{% set SMTP_PASSWORD = '' %} # Use an API Key from: https://app.sendgrid.com/settings/api_keys

# Landscape version:
# (self-hosted-25.10|self-hosted-24.04|self-hosted-beta|latest-stable)
{% set LANDSCAPE_PPA_NAME = '24.04' %}

# =========================
# END OF SETTING VARIABLES

# FQDN is determined programmatically from the HOSTNAME and DOMAIN values (e.g. `example.com` or `server.example.com`)
{% set FQDN = HOSTNAME ~ ('.' if HOSTNAME else '') ~ DOMAIN %}
hostname: {{ HOSTNAME }}
fqdn: {{ FQDN }}
prefer_fqdn_over_hostname: true

write_files:
  - path: /etc/postfix/sasl_passwd
    permissions: "0400"
    content: |
      [{{ SMTP_HOST }}]:{{ SMTP_PORT }} {{ SMTP_USERNAME }}:{{ SMTP_PASSWORD }}
{% if CERTBOT %}
  - path: /etc/cron.d/certbot-renew
    content: |
      SHELL=/bin/bash
      30 2 * * * root /snap/bin/certbot renew --non-interactive --post-hook "systemctl apache2 reload"
{% endif %}

{% if TOKEN %}
ubuntu_pro:
  enable: [livepatch, esm-apps, esm-infra]
  token: {{ TOKEN }}
{% endif %}

# `apt update`
package_update: true

# `apt upgrade`
package_upgrade: true

# restart if necessary
package_reboot_if_required: true

apt:
  sources:
      source1:
          source: 'ppa:landscape/{{ LANDSCAPE_PPA_NAME }}'

# `apt install`
packages:
  - landscape-server-quickstart
{% if CERTBOT == 'apt' %}
  - certbot
{% endif %}

# `snap install`
snap:
 commands:
{% if CERTBOT == 'snap' %}
   - ['install', 'certbot', '--classic', '--channel', 'latest/stable']
{% endif %}

runcmd:
{% if platform == 'oracle' %}
  - iptables -F && netfilter-persistent save
{% endif %}
{% if CERTBOT %}
  - certbot --non-interactive --apache --no-redirect --agree-tos --email {{ EMAIL }} --domains {{ FQDN }}
  - sed -i '/SSLCertificateChainFile \/etc\/ssl\/certs\/landscape_server_ca.crt/s/^/#/' /etc/apache2/sites-available/{{ FQDN }}.conf
{% endif %}
# - SSL_CERTIFICATE_FILE
# - SSL_CERTIFICATE_KEY_FILE
# - SSL_CERTIFICATE_CHAIN_FILE
  - systemctl restart apache2.service
{% if SMTP_HOST %}
  - postconf -e myhostname="{{ FQDN }}"
  - postconf -e mydomain="{{ DOMAIN }}"
  - postconf -e myorigin="{{ DOMAIN }}"
  - postconf -e masquerade_domains="{{ DOMAIN }}"
  - postconf -e mydestination=localhost
  - postconf -e default_transport=smtp
  - postconf -e relay_transport=smtp
  - postconf -e relayhost="[{{ SMTP_HOST }}]:{{ SMTP_PORT }}"
  - postconf -e smtp_sasl_auth_enable=yes
  - postconf -e smtp_sasl_password_maps=hash:/etc/postfix/sasl_passwd
  - postconf -e header_size_limit=4096000
  - postconf -e smtp_sasl_security_options=noanonymous
  - postconf -e smtp_sasl_tls_security_options=noanonymous
  - postconf -e smtp_tls_security_level=encrypt
  - postconf -e smtp_use_tls=yes
  - postmap /etc/postfix/sasl_passwd
  - rm /etc/postfix/sasl_passwd
  - systemctl restart postfix.service
{% endif %}

{% if "/" in TIMEZONE %}
timezone: {{ TIMEZONE }}
{% endif %}
